.search-box input {
  max-width: 300px;
}

.table th,
.table td {
  vertical-align: middle;
}

.add-btn {
  background-color: #044b81;
  border-color: #044b81;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.add-btn:hover {
  background-color: #033b67;
  border-color: #033b67;
}